body {
    line-height:inherit;
}
.white { color: white; }
.menu li a {
    color:#dedbdb;
}
.menu li a:hover {
    color:#8888ff;
}
.menu li.active a {
    color:#88ffff;
    background-color:black;
}
.title-bar {
   padding:0;
}
.brand {
   background-color:#21629e;
   font-weight:normal;
   font-variant:small-caps;
}
input.search {
   background-color:#21629e;
   border:0px;
   color:#acc9e3;
}
input.search:focus {
    color:black;
    background-color:white;
}

table.cal tr th {
    font-family:monospace;
    font-size:0.9em;
    padding-top:0px;
    padding-bottom:0px;
    font-weight:normal;
}
table.cal tr td {
  width:14%;
  border:1px solid #999;
  height:90px;
  padding-left:4px;
  padding-right:0px;
  padding-top:0px;
  padding-bottom:0px;
  font-family:monospace;
  vertical-align:top;
  color:black;
  white-space:pre-line;
}
table.cal tr td.edit {
  width:14%;
  border:1px solid #999;
  height:90px;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  padding-bottom:0px;
  font-family:monospace;
  vertical-align:top;
  color:black;
  position:relative;
}
table.cal tr td.edit span.dt {
    position:absolute;
    top:0px;
    right:0px;
}
table.cal tbody tr td textarea {
   width:100%;
   height:100%;
   padding:0px;
   margin:0px;
   resize:none;
}
textarea.changed {
   background-color:#fcfece;
}
textarea.saved {
   background-color:#fcfcfc;
}
table.cal tr td span.dt {
    float:right;
    font-size:65%;
    font-family:sans-serif;
    background-color:inherit;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    color:#111;
    width:14%;
    text-align:center;
}
table.cal tr td.other span.dt {
    color:#ddd;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
table tbody {
    border:none;
}
textarea.cal {
   font-family:inherit;
   font-size:inherit;
}
div.status-indicator {
    position:absolute;
    top: 40px;
    right: 10px;
}
div.mode-switcher {
    position:absolute;
    top: 40px;
    right: 70px;
}
div.changed::after {
    color:red;
    content:'×';
    font-weight:bold;
}
div.saved::after {
    content:'✓';
    color:green;
}
div.changed::before  {
    content:'modified ';
    color:black;
    font-size:0.8em;
}
div.saved::before  {
    content:'saved ';
    color:black;
    font-size:0.8em;
}
span.changed::after {
    color:red;
    content:'×';
}
span.saved::after {
    content:'✓';
    color:green;
    font-weight:bold;
}
span.pending::before {
    content:'-';
    color:#b3b300;
    font-weight:bold;
}
table.cal tr td span.pending {
    background-color:orange;
    color:white;
}

.inlineblock {
    display:inline-block;
}
div.linklist a {
    margin-bottom:1px;
}
div.navvy {
    margin-bottom:0px;
    padding-left:0px;
}
div.searchbox {
    position:relative;
}
div.searchresults {
    position:absolute;
    background-color:white;
    width:100%;
    z-index:100;
    border-left:1px solid black;
    border-right 1px solid black;
    border-bottom: 1px solid black;
}
div.searchresults ul li a {
    color:black;
}
div.searchresults ul li a:hover {
   background-color:#41959e;
   color:white;
}
.query {
    background-color:grey;
    color:yellow;
    font-style:italic;
}
div.wiki {
    font-family:monospace;
    font-size: 1.4em;
    white-space:pre;
    border: 1px solid rgba(10, 10, 10, 0.25);
    background-color: #ebebeb;
    padding:1rem;
}
textarea.wiki {
    font-family:monospace;
    font-size: 1.4em;
    border: 1px solid rgba(10, 10, 10, 0.25);
    background-color: #fbfbeb;
    padding:1rem;
}
textarea.rolodex {
    font-family:monospace;
    font-size: 0.9em;
    background-color: #fbfbeb;
    height: 75%;
    width:100%;
}
textarea.rolodexedit {
    font-family:monospace;
    font-size: 0.9em;
    padding:0px;
    background-color: #fbfbeb;
    height: 100%;
    width:100%;
}
div.card {
  font-family:monospace;
  font-size: 0.9em;
  height: 8em;
  white-space:pre-line;
  padding:0.2em;
  margin:0.5rem;
}
.button.black {
    color:black;
    background-color:white;
}
.trimv {
    margin-bottom:0px;
    margin-top:0px;
}
a {
   outline: 0;
}
.squishv {
    padding-bottom:3px;
    padding-top:3px;
}
td.focused {
    background-color:#cfddd5;
}
img.up {
    border:1px solid black;
    margin:1px;
}
div.upload {
    position:relative;
    overflow:hidden;
    margin:10px;
    border:1px dashed white;
}
div.upload input.upload {
    position:absolute;
    top:0; right:0; margin:0; padding:0;
    font-size: 20px;
    cursor:pointer;
    opacity:0;
    filter: alpha(opacity=0);
}
